body{

	padding: 0;
	margin: 0;
	font-family: "poppins",sans-serif;
	background-color:salmon;
	
	
}

.main{

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.main .left{
	flex: 1;
	display: flex;

	/*align-items: center;
	align-content: center;*/
	flex-direction: column;
}

.main .right{
	flex: 1;
	display: flex;
	/*align-items: center;
	align-content: center;*/
	flex-direction: column;
	
}

.main .right .card {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	

}

.main .right .card .title{
	/*box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px salmon;*/

        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        /* background:salmon; */
	
	/* display: flex; */
/*	width: 100%;*/

	/* justify-content: center; */
	
}
.main .right .card .title span{
	display: flex;
	font-size: 14px;
	color: white;
	padding:10px 123px;
	align-items: center;
	background-color: darkblue;
	border-radius: 4px;

}


.main .right .card form{
	display: flex;
	
	justify-content: center;
	flex-direction: column;
	padding: 30px 20px;
	gap: 10px;
	border-radius: 4px;
	background-color: white;

}


.main .right .card form input{
	display: flex;
	border-radius: 4px;
	font-size: 12px;
	border:1px solid lightgrey;
	padding: 10px 10px;

}


.main .right .card form button{
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 4px;
	padding: 10px;
	background-color: #3cb371;
	color: white;
	font-size: 10px;

}


.main .right .card form p {
	display: flex;
	font-size: 15px;
	color: rgba(211, 211, 211, 0.795);
	padding: 0 10px;

}


.main .left .card{
	display: flex;
	padding: 30px;
	align-items: center;
	justify-content: center;
	gap: 2px;
	flex-direction: column;


}

.main .left .card span{
	display: flex;
	font-size: 40px;
	margin-left: 0px;
	font-weight: 500;
	color: white;
	text-shadow:2px 2px 5px #03030300

}

.main .left .card p{
	margin-left: 10px;
	display: flex;
	font-size: 15px;
	color: white;
	
	width: 60%;
	/* left: 8%; */
text-shadow:2px 2px 6px #000000;

}




/* 
 desktop display */
@media(  max-width: 800px){
	.main{

		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}


	
.main .left{
	flex: 0.5;
	display: flex;

	/*align-items: center;
	align-content: center;*/
	flex-direction: column;
}


.main .left .card span{
	display: flex;
	font-size: 30px;
	margin-left: 0px;
	font-weight: 400;
	color: white;
	text-shadow:2px 2px 5px #000000;

}

.main .right{
	flex: 1;
	display: flex;
	/*align-items: center;
	align-content: center;*/
	flex-direction: column;
	
}
.main .right .card form button{
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 4px;
	padding: 10px;
	background-color: #3cb371;
	color: white;
	font-size: 10px;

}
.main .right .card .title span{
	display: flex;
	font-size: 14px;
	color: white;
	padding:10px 123px;
	align-items: center;
	background-color: darkblue;
	border-radius: 4px;

}

.main .right .card form p {
	display: flex;
	font-size: 15px;
	color: rgba(211, 211, 211, 0.795);
	padding: 0 10px;

}

		
	
}
/* desktop display end */





/* mobile display start */
@media(max-width:600px){
	.main{

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}


	
.main .left{
	flex: 0.5;
	display: flex;

	/*align-items: center;
	align-content: center;*/
	flex-direction: column;
	
}

.main .left .card {
	display: flex;
	align-items: center;

}

.main .left .card span{
	display: flex;
	font-size: 20px;
	
	margin-left: 0px;
	font-weight: 300;
	color: white;
	text-shadow:2px 2px 5px #000000;

}

.main .right{
	flex: 1;
	display: flex;
	/*align-items: center;
	align-content: center;*/
	flex-direction: column;
	
}

.main .right .card {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	

}


.main .right .card .title span{
	display: flex;
	
	font-size: 10px;
	color: white;
	margin-left: 30px;
	margin-right: 30px;
	padding:7px 110px;
	align-items: center;
	background-color: darkblue;
	border-radius: 4px;

}

.main .right .card form button{
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 2px;
	padding: 8px;
	background-color: #3cb371;
	color: white;
	font-size: 8px;

}
.main .right .card form input{
	display: flex;
	
	border-radius: 3px;
	font-size: 10px;
	border:1px solid lightgrey;
	padding: 5px 5px;

}
.main .right .card form{
	display: flex;
	margin: 17px;
	justify-content: center;
	flex-direction: column;
	padding: 30px 20px;
	gap: 7px;
	border-radius: 4px;
	background-color: white;

}

.main .right .card form p {
	display: flex;
	font-size: 12px;
	color: rgba(211, 211, 211, 0.795);
	padding: 0 10px;

}
		
	
}

/* mobile display end */








